<p id="notice"><%= notice %></p>

<h1>Listing Calls</h1>

<table>
  <thead>
    <tr>
      <th>Requestor</th>
      <th>Req date</th>
      <th>Problem</th>
      <th>System</th>
      <th>Solution</th>
      <th>Sol date</th>
      <th>Sol by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.requestor %></td>
        <td><%= call.req_date %></td>
        <td><%= call.problem %></td>
        <td><%= call.system %></td>
        <td><%= call.solution %></td>
        <td><%= call.sol_date %></td>
        <td><%= call.sol_by %></td>
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call', new_call_path %>
